@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pelota {
  0% {
    transform: translate(-150px, -100px) rotate(0deg);
  }

  25% {
    transform: translate(20vw, 150px) rotate(180deg);
  }

  50% {
    transform: translate(50vw, 50px) rotate(360deg);
  }

  75% {
    transform: translate(80vw, 180px) rotate(540deg);
  }

  100% {
    transform: translate(120vw, 80px) rotate(720deg);
  }
}

@keyframes caer {
  from {
    transform: translateY(-120px) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: translateY(120vh) rotate(360deg);
    opacity: 0;
  }
}

@keyframes entrarArriba {
  from {
    opacity: 0;
    transform: translateY(-35px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes entrarAbajo {
  from {
    opacity: 0;
    transform: translateY(45px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-entrar-arriba {
  animation: entrarArriba 0.8s ease-out both;
}

.animate-entrar-abajo {
  animation: entrarAbajo 0.9s ease-out both;
}

.confeti {
  position: absolute;
  top: -40px;
  width: 8px;
  height: 16px;
  border-radius: 3px;
  animation: caer linear infinite;
}
